<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Listing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#myTable').DataTable();
        })
    </script>
</head>

<body>
    <br>
    <br>
    <h2>Orders History </h2>
    <br>
    <br>

<table id="myTable" class="display" style="width:90%">
        <thead>
            <tr>
                <th>User id</th>
                <th>Order id</th>
                <th>Total payment</th>
                <th>Order Date</th>
                <th>Name</th>
                <th>Email</th>
                
            </tr>
        </thead>
        <tbody>
            <% for(var i=0;i<orders.length;i++) {%>

                <tr>
                    <td>

                        <%= orders[i].userId %>

                    </td>
                    <td>
                        <%= orders[i].id %>

                    </td>
                    <td>

                        <%= orders[i].total %>


                    </td>

                        <td>
                            <%= orders[i].createdAt %>

                        </td>
                            <% for (let j=0; j < orders[i].user.length; j++) { %>
                        <td>
                            <%= orders[i].user[j].name %>
                        
                        </td>
                    <td>
                        <%= orders[i].user[j].email %>
                    
                    </td>
                </tr>
                <% } %>

        </tbody>
    </table>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>

