<!-- products.ejs -->
<!DOCTYPE html>
<html>

<head>
    <title>User Panel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .card {
            margin-bottom: 20px;
        }

        .card-img {
            height: 200px;
            object-fit: cover;
        }
    </style>
</head>

<body>
    <%- include("user_Panel") -%>

    <div class="container">
        <div class="row">
            <% products.forEach(function(product) { %>
            <div class="col-md-4">
                <div class="card">
                     <img src="/a.jpeg" alt="Product Image" height="40%" width="80%">
                    <!-- <img class="card-img-top" src="<%= product.product_image %>" alt="Product Image"> -->
                    <div class="card-body">
                        <h5 class="card-title"><%= product.product_name %></h5>
                        <p class="card-text">Category: <%= product.catrgory[0].category_name %></p>
                        <p class="card-text">Price: $<%= product.product_price %></p>
                        <p class="card-text"><%= product.product_description %></p>
                        <button class="btn btn-primary">Order</button>
                        <button class="btn btn-success">Add to Cart</button>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
