<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/adminStyle.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://unpkg.com/@webpixels/css@1.1.5/dist/index.css">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css">





</head>

<body>

    <main>
        <div>

            <div>
                <div>
                   
                    

                    <div class="user"></div>
                    <div class="header">
                     Roles


                        <button id="addProducts" onclick="addProductPage()">Add Roles</button>
                    </div>

                </div>
                <div >


                    <table >
                        <thead >
                            <input type="text" class="number" id="number" value="1" hidden>


                            <tr>
                                <th scope="col" id="product_name" onclick="sorting(this.id)">Role Name</th>
                               
                                <th scope="col">Permissions</th>
                                <th scope="col">Edit</th>

                            </tr>

                        </thead>
                        <tbody id="tbody">
                            <% for(var i=0;i<roles.length;i++) {%>

                                <tr>
                                    <td id="main_role_name">

                                        <%= roles[i].name %>

                                    </td>
                                    <td>

                                        <% for(j=0; j<roles[i].permissions.length;j ++){ %>
                                            <% console.log(permissions[j].name )%>

                                                <%=roles[i].permissions[j].name%>


                                                    <% }%>

                                    </td>



                                    <td><button id="updateBtn" onclick="editProduct(`<%= roles[i].id %>`)">Edit</button>
                                    </td>



                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>

                
                  


                <div class="model-container-products" id="updateuser" style="visibility: hidden;">
                    <div class="col-md-12">
                        <div class="model">
                            <div
                                onclick="document.querySelector('.model-container-products').style.visibility = 'hidden'">
                                <i class="fa fa-window-close" aria-hidden="true"></i>
                            </div>

                            <form id="addProductForm" enctype="multipart/form-data" action="/data" method="get">

                                <fieldset>

                                    <label for="name">role Name</label>
                                    <input type="text" id="role_name" name="name">

                                    <input type="submit" name="submit" value="Add">


                            </form>
                        </div>
                    </div>
                </div>



                <div class="model-container" id="updateuser" style="visibility: hidden;">
                    <div class="col-md-12">
                        <div class="model">
                            <div onclick="document.querySelector('.model-container').style.visibility = 'hidden'">
                                <i class="fa fa-window-close" aria-hidden="true"></i>
                            </div>

                            <form id="updateForm" enctype="multipart/form-data">

                                <fieldset>

                                    <label for="name">Role Name</label>
                                    <input type="text" id="urole_name" name="name">


                                    <div class="permissions" id="permissions_data">

                                        <% for(j=0; j <permissions.length; j++){ %>

                                            <%= permissions[j].name%><input type="checkbox" class="permissions"
                                                    id="permission_name" ,name="id" value="<%= permissions[j].id%>">

                                                <% } %>

                                    </div>

                                    <input type="submit" name="submit" value="Add">


                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        </div>

    </main>


</body>
<script>

    let p = 1;

    window.onload = () => {
        //     getProducts()
        getCategories()
    }


    async function getCategories() {

        const categoriesData = await axios.get('/roles/permissions');


        for (let catagory of categoriesData.data) {

            let option = document.createElement("option");
            option.setAttribute('value', catagory.id);

            let optionText = document.createTextNode(catagory.name);
            option.appendChild(optionText);
            catDropDown.appendChild(option);
    
        }
    }
    const add = document.querySelector('#addProducts');
    add.addEventListener('click', () => {
        document.querySelector('.model-container-products').style.visibility = 'visible';
    })

    const form = document.querySelector('#addProductForm');
    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        let name = document.getElementById("product_name").value;
        let catagory = document.getElementById("categoriesDropDown").value;
        let categoryIds = catagory;
        let formData = new FormData(form);

        let res = await axios.post('/roles/permissions/', formData)
        document.querySelector('.model-container-products').style.visibility = 'hidden';

        document.getElementById("name").value = '';

        getProducts();
    })

    async function editProduct(id) {
      const res = await axios.get(`/roles/${id}`);
       const permissions = await axios.get('/roles/permissions');
       const user = res.data;

        document.getElementById('urole_name').value = user.name;

        var div = document.querySelector('#permissions_data');
        
        document.querySelector('.model-container').style.visibility = 'visible';
        const form = document.querySelector('#updateForm');
        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            let arr = [];
            let checkboxes = document.querySelectorAll("input[type='checkbox']:checked");
            for (let i = 0; i < checkboxes.length; i++) {
                arr.push(checkboxes[i].value)
            }
           

            const obj = Object.fromEntries(Object.entries(arr));
        
            document.getElementById('permission_name').value

        
   
            const idd = parseInt(id);
           

            const res = await axios.put(`/roles/${id}`,
                {
                    permissionIds: arr


                }
            );
          
            document.querySelector('.model-container').style.visibility = 'hidden';
        })
    }


</script>

</html>